log*
*~
debug*
vrac*
debug
default
*.log
bin/remove_correction.exe
build*
doc/download*
doc/html*
doc/xml*

apps/LIFAMI/

bin/

src/imgui.ini

doc/Doxyfile.bak

doc/VERSION.old

tmp/
script/make_zip.sh
