[submodule "extern/SDL_image"]
	path = extern/SDL_image
	url = https://github.com/Serdok/SDL_image
[submodule "extern/SDL_ttf"]
	path = extern/SDL_ttf
	url = https://github.com/Serdok/SDL_ttf
[submodule "extern/SDL2"]
	path = extern/SDL2
	url = https://github.com/Serdok/SDL2
